#placeHolder
{
	width: 90%;
	height: 40%;
	position: absolute;
	top: 23%;
	padding: 36px 36px 36px 36px;
}

#Mobile
{
  width: 420px;
  position: absolute;
  top: 23%;
  padding: 36px 36px 36px 36px;
}

#coming
{

font-size: 1.6em;
font-family: 'Poiret One', cursive;
position: absolute;
top: 67%;
left: 31%;
width: 40%;
height: 5%ß;

}

/* unvisited link */
a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: grey;
}
 @media only screen and (max-device-width: 479px) {
   html { background-image:url(ai-cookie.php?maxwidth=479); } }
 @media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
   html { background-image:url(ai-cookie.php?maxwidth=767); } }
 @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
   html { background-image:url(ai-cookie.php?maxwidth=991); } }
 @media only screen and (min-device-width: 992px) and (max-device-width: 1381px) {
   html { background-image:url(ai-cookie.php?maxwidth=1381); } }
 @media only screen and (min-device-width: 1382px) {
   html { background-image:url(ai-cookie.php?maxwidth=unknown); } }