#placeHolder
{
	width: 90%;
	height: 40%;
	position: absolute;
	top: 23%;
	padding: 36px 36px 36px 36px;
}

#coming
{

font-size: 1.6em;
font-family: 'Poiret One', cursive;
position: absolute;
top: 67%;
left: 31%;
width: 40%;
height: 5%ß;

}

/* unvisited link */
a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: grey;
}